@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?xoi9x3');
	src:url('../fonts/icomoon.eot?#iefixxoi9x3') format('embedded-opentype'),
		url('../fonts/icomoon.woff?xoi9x3') format('woff'),
		url('../fonts/icomoon.ttf?xoi9x3') format('truetype'),
		url('../fonts/icomoon.svg?xoi9x3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
	content: "\e600";
}

.icon-home:before {
	content: "\e606";
}

.icon-language:before {
	content: "\e603";
}

.icon-list:before {
	content: "\e604";
}

.icon-add:before {
	content: "\e601";
}

.icon-arrow-back:before {
	content: "\e605";
}

.icon-edit:before {
	content: "\e602";
}
